.PrimaryButton{
    width: fit-content;
    padding: 7px 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .PrimaryButton{
        width: 90%;
    }
}